{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
Новости
{% endblock title %}

{% block content %}
   <h1>Все товары</h1>
   <h3>Всего {{ news|length }} новости</h3>

   <hr>
   {% if news %}
       <table>
           <tr>
               <td>Заголовок новости</td>
               <td>Дата публикации</td>
               <td>Краткое содержание</td>
           </tr>

           {% for post in news %}
           <tr>
               <td>{{ post.title }}</td>
               <td>{{ post.dateCreation|date:'d M Y' }}</td>
               <td>{{ post.text|truncatewords:20|censor }}</td>
           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>Товаров нет!</h2>
   {% endif %}
{% endblock content %}